@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* Resetar estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte e Pesos */
.roboto-thin {
  font-family: "Roboto", system-ui;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", system-ui;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", system-ui;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", system-ui;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", system-ui;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", system-ui;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", system-ui;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", system-ui;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", system-ui;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", system-ui;
  font-weight: 900;
  font-style: italic;
}

.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-size-24{
  font-size: 24px;
}
.font-size-18{
  font-size: 18px;
}

.font-size-12{
  font-size: 12px;
}

.font-size-14{
  font-size: 14px;
}

.font-size-8{
  font-size: 8px;
}
/* Variáveis */
:root {
  --purple-4-light: #8163ee70;
  --purple-3: #8163ee;
  --purple-2: #6a48e6;
  --purple-1: #4328a3;
  --purple-0: #322872;
  --gray-0: #141414;
  --gray-1:#2B2B2B;
  --gray-2:#414040;
  --gray-3:#858585;
  --gray-4:#555555;
  --gray-5:#aaaaaafb;
  --gray-6:#c9c9c9;
  --gray-7:#dbdbdb;
  --proporcao-foto:1,196;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit; /* herda a cor do elemento pai */
}

button,
input,
textarea {
  border: none;
  background: none;
  font-family: inherit;
  color: var(--gray-7);
}

body {
  margin: 0; /* Remove margens padrão */
  display: flex; /* Usa flexbox para centralização */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background: radial-gradient(circle at 20% 50%,#0a0030, var(--gray-0) 80%);
  color: var(--gray-7);
}

/* Backgrounds */
.gradient-background-light{
  background: linear-gradient(to right,var(--purple-4-light),var(--purple-3));
}
.gradient-background{
  background: linear-gradient(to right,var(--purple-1),var(--purple-2));
}

.background-gray{
  background-color:var(--gray-2);
}
/* Rounded */
.rounded-full{
  border-radius:100%;
}

.rounded-10{
  border-radius:10px;
}

.rounded-5{
  border-radius:5px;
}

.active {
  background: linear-gradient(to right,var(--purple-1),var(--purple-2));
}
.max-width{
  max-width: 100%;
}

/* Divisao da tela */
.main-div {
  width: 100%; /* Largura fixa (pode ser ajustada) */
  max-width: 425px;
  min-width: 425px;
  height: 100vh;
}
.component-div {
  padding: 20px; /* Espaçamento interno */
  border-radius: 8px; /* Bordas arredondadas */
  background-color: var(--gray-1);/* Cor cinza claro */
  box-shadow: 1px 1px 10px rgb(17, 17, 17);
}

.subcomponents-div{
    margin: 0px -14px;
    background-color:var(--gray-2);
    border-radius: 8px;
    padding: 14px;
}
.components-list{
  padding: 20px; /* Espaçamento interno */
  border-radius: 8px; /* Bordas arredondadas */
  background-color: var(--gray-4); /* Cor cinza claro */
}

p{
  line-height: 1.6;
  font-size: 14px;
  color: var(--gray-6);
}

img{
  width: 100%;
  margin: auto 0px;
  border: 12px solid var(--purple-2);
  margin: 0 auto
}

h1{
  font-size: 2.5em;
}

h2{
  margin: 15px 0px;
  font-family: "Righteous", sans-serif;
}
/* display */
.flex{
    display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.display-inline{
  display: inline-flex; 
}
.align-center{
  display: flex;
  align-items: center;
}
.align-baseline{
  display: flex;
  align-items: baseline;
}
.justify-center{
  justify-content: center;
}
.justify-around{
    display: flex;
    justify-content: space-around;
}
.justify-between{
    display: flex;
    justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.text-align-center{
  text-align: center;
}

.background-purple-hover :hover{
  background-color: var(--purple-3);
  transition: background-color 0.5s ease;
}

.hover-gray:hover{
  background-color: #555555;
  transition: background-color 0.5s ease;
}

.hover-color-gradient:hover{
  background: linear-gradient(to right,var(--purple-1),var(--purple-2));
  transition: background-color 0.5s ease;
}

.hover-color-purple-2:hover{
  color: var(--purple-3);
  transition: color 0.5s ease;
}

.hover-bold:hover{
  font-weight: bold;
  transition: font-weight 0.5s ease;
}

/* shadow */
.shadow{
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.171); /* Sombra do botão */
}

.shadow-lighter{
  box-shadow: 1px 1px 10px rgba(104, 103, 103, 0.288); /* Sombra do botão */
}
/* icones */
.circle{
  width:  8px; /* Largura da esfera */
  height: 8px; /* Altura da esfera */
  border-radius: 50%; 
  background: linear-gradient(to right,var(--purple-1),var(--purple-2));

}
/* Margens,paddings e espaços */
.g-12{
    gap: 12px;
}
.g-6{
  gap: 6px;
}

.m-top-36{
  margin-top: 16%;
}

.m-top-24{
  margin-top: 12%;
}

.m-top-12{
    margin-top: 6%;
}
.m-top-6{
  margin-top: 4%;
}
.p-16{
  padding-top: 16px;
}

.p-12{
    padding-top: 14%;
}

.p-6{
    padding-top: 10%;
}

.p-2{
    padding-top: 3px;
}

.p-full-4{
  padding: 4px;
}

.p-full-6{
  padding: 6px;
}
.p-sides-4-8{
  padding: 4px 12px;
}

.g-6{
    gap: 6px;
}

.p-6-top-bottom{
  padding: 6px 0px;
}

.p-36{
    padding-top: 36px;
}
.m-bottom-n12 {
    margin-bottom: -14px;
}

.m-6{
  margin: 4% 0%;
}

.m-minus-6{
  margin: -6% 0%;
}